:root {
    --nav-background: white;
    --nav-text-color: #0866FF;
    --footer-background: #55585C;
    --footer-text-color: #FFFFFF;
    font-size: 16px;
    /* rem is root element font size in this case 16 px */
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --p-size: 1rem;
    --navfont-size: 1.4rem;
    --navfontLogo-size: 1.5rem;
    --footerfont-size: 1.2rem;
    --footerfont-size-copyright: 0.8rem;
    margin: -5px;
    padding: 50px;

}

body {
    overflow-x: hidden;
}

/* navbar css */

.navwindow {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: fit-content;
    color: #fff;
    padding: 10px 0;
    display: inline;
    z-index: 1;
    text-align: center;
    background-color: var(--nav-background);
    flex-wrap: wrap;
    justify-content: center;
}

.navigation-link {
    margin: 0 1rem 0 1rem;
    font-size: var(--navfont-size);
    color: var(--nav-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: (var(--navfont-size));
}

.navigation-link:hover {
    color: var(--nav-text-color);
    text-decoration: underline;
    font-weight: bold;

}

.nav-linkLogo {
    display: inline-block;
    margin: 0 3rem 0 1rem;
    font-size: var(--navfont-size);
    color: var(--nav-text-color);
    font-weight: bold;
    font-size: var(--navfontLogo-size)
}

.dropdown {
    display: none;
}

.mobileview {
    display: none;
}

#spaceforNavbar {
    /* this exist because navbar has an absolute position not relative */
    height: 2rem;
}

/* end of navbar css */

/* footer css */
#footer {
    background-color: var(--footer-background);
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    font-size: var(--footerfont-size);
}


.footer-grid-1 {
    grid-column: 1/2;
    padding: 10px;
}

.footer-grid-2 {
    grid-column: 2/3;
    padding: 10px;
}

.footer-grid-3 {
    grid-column: 3/4;
    padding: 10px;
}

#footer-logo {
    display: inline-block;
    margin: 0 3rem 0 1rem;
    font-size: var(--navfont-size);
    color: var(--footer-text-color);
    font-weight: bold;
    font-size: var(--navfontLogo-size);
    size: 100%;
}

.footer-ul {
    list-style-type: none;
    padding: 0;
}

.footer-li,
a {
    color: var(--footer-text-color);
    text-decoration: none;
    margin: 10px;
}

#footer-copyright {
    margin-left: 2rem;
    margin-top: 9rem;
    font-size: var(--footerfont-size-copyright);
    text-align: justify;
}
/* footer css */




































/* screen size 768px */
@media (max-width: 768px) {
    :root {

        font-size: 8px;
        margin: -5px;
        padding: 10px;

    }

    /* nav link mobile view */
    #navbar {
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        padding: 1rem;
    }

    .windowview {
        display: none;
    }

    .mobileview {
        display: block;
        left: 0;
        font-size: 4rem;
    }

    .dropdown {
        display: inline;
    }


    .dropdown-content {
        display: none;
        height: 2rem;
    }

    .Mnavtoggle {
        display: block;
        height: 4rem;
        padding: 0.5rem;
    }

    #spaceforNavbar {
        /* this exist because navbar has an absolute position not relative */
        display: none;
    }

    /* end of mobile link view */

    /* footer mobile */
    #footer {
        display: block;
        margin: auto;
    }

    .logo {
        margin: auto;
        font-size: 2rem;
        text-align: center;
    }

    #Mcopyright-footer {
        font-size: 1rem;
        margin: auto;
        text-align: center;
        padding: 1rem;
    }

    .footer-li {
        margin: auto;
        text-align: center;
        font-size: 3rem;
    }

    /* end footer mobile */

}